/* Turn off Default styles */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Dancing+Script:wght@400;500;600&family=Darker+Grotesque:wght@300;400;600&family=Freehand&family=Indie+Flower&family=Lexend+Deca&family=Lobster&family=Lora&family=Nova+Mono&family=Oswald:wght@200;300&family=Overlock+SC&family=Oxygen+Mono&family=Oxygen:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&family=Righteous&family=Roboto:wght@100;300;400;500;900&display=swap');
:root{
  /*customized color codes*/
 --white-bg:#fff;  
 --green-bg:#0f0;
 --black-color:#000;
 --dark-blue:#010216;
 --md-jungle-green:#1C352D;
 --dk-jungle-green:#1A2421;
 --forest-green:#0B6623;
 --sacramento-green:#043927;
 --kombu-green:#354230;
 --napier-green:#2A8000;
 --kaitoke-green:#004830;
 --dk-green:#033503;
 --very-dk-green:#041f04;
 --pakistan-green:#006600;
 --british-green:#004225;
 --aqua:#00FFFF;
 --aqua-marine:#7FFFD4;
 --light-green:#90EE90;
 --lime-green:#32CD32;

 /*customized  fonts*/
 --xs-font:0.4rem; 
 --sm-font:0.8rem;
 --md-font:1rem;
 --lg-font:1.4rem;
 --xl-font:2.5rem;

 /*customized spaces*/
 --normal-edge-gap:1rem;
 --edge-gap:2rem;
 --md-edge-gap:1.5rem;

 /*customize header fonts*/
 --xl-head-font:2.4rem;
 --lg-head-font:1.6rem; 
 --md-head-font:1.4rem;
 --sm-head-font:1rem;
 --xs-head-font:0.8rem;
 --toggle-bar-size:2rem;

 /*customized transitions and boxshadwa*/
 --normal-transition-duration:0.5s;
--box-shadow:1px 1px 4px 2px rgb(230, 228, 228);
}
html{
  box-sizing:border-box;  
  overflow-x:hidden;
}
*,*::before,*::after{
box-sizing:inherit;
}
body{
padding:0;
margin:0;
font-family:'Poppins',sans-serif;
background-color:#FFFFFF;
overflow-x:hidden;
}
ul,menu{
list-style:none;
padding:0;
margin:0;
}
a{
text-decoration:none;
color:#000;
}

img{
width:100%;
/* height:100%; */
}
video{
width:100%;
}

h1,h2,h3,h4,h5,p,figure,figcaption,article,dd,dt{
margin:0;
padding:0;
}
header,section,footer{
padding:2rem;
}
input{
outline:none;
border:1px solid #E5E5E5;
text-transform:capitalize;
}
small{
font-size:0.67rem;
font-weight:300;
}
.cta-btn{
width:120px;
padding:0.6rem;
border-radius:25px;
color:var(--british-green);
text-align:center;
display:block;
font-size:0.842rem;
font-weight:500;
margin:1rem 0rem;
border:1px solid #E5E5E5;
-webkit-transform:translateY(20%);
-o-transform:translateY(20%);
-moz-transform:translateY(20%);
transform:translateY(20%);
transition:all 0.6s ease;
}
.cta-btn:hover{
background:var(--very-dk-green);
color:#fff;
border:1px solid transparent;
-webkit-transform:translateY(0%);
-o-transform:translateY(0%);
-moz-transform:translateY(0%);
transform:translateY(0%)
}






@media(min-width:650px){
.flex-4
{
display:flex;
flex-flow:row wrap;
align-items:center;
gap:4%;

}
.flex-2{
display:flex;
flex-flow:row wrap;
gap:4%;
}

}

/*****************************
 Large Desktop device
=============================*/
@media(min-width:980px){
.flex-3,
.flex{
display:flex;
flex-flow:row wrap;
gap:4%;
}	
.flex-3 >*{
flex:1 1 48%;
}
.flex-2 > *{
flex:1 1 48%;
}
.flex-4{
flex-basis:22%;
}
}