.faq-section{
border:0px solid red;
}
.faq-section .accordion-section,
.faq-section .accordion-section p
{
color:var(--white-bg);
}
.accordion-section{
background:#142B15;
padding:0.8rem;
}
.accordion-section .accordion-container{
margin-bottom:1.2rem;
}
.faq-section 
.accordion-section .accordion-header{
padding:1rem;
cursor:pointer;
position:relative;
background:rgba(0,0,0,0.5);
font-weight:600;
/*margin-bottom:1rem;*/
}

.faq-section 
.accordion-section .accordion-header{
font-size:1.1rem;
}
.faq-section 
.accordion-section .accordion-body{
height:0;
/*overflow:hidden;*/
transition:padding 0.5s ease,height 0.5s ease;
padding:0.2rem;
}

.faq-section 
.accordion-section .accordion-header.active + .accordion-body{
height:280px;
/*padding:1rem;*/
padding:0.2rem;
}
.faq-section 
.accordion-section .accordion-header.active + .accordion-body.third-child{
height:490px;
}
.faq-section 
.accordion-section .accordion-header + .accordion-body .accordion-text{
height:100%;
overflow:hidden;
}
.faq-section 
.accordion-section .accordion-header + .accordion-body .accordion-text .faq-cta-btn{
color:cyan;
}








/*==========================
TABLET DEVICE
===========================*/
@media(min-width:380px){
.faq-section 
.accordion-section .accordion-header::after{
content: "+";
position:absolute;
right:0;
top:50%;
transform:translate(-50%,-50%);
display:inline-block;
font-size:1.6rem;
color:var(--white-bg);
transition:0.6s ease;
}
.faq-section 
.accordion-section .accordion-header.active::after{
content:"-";
}
.faq-section 
.accordion-section .accordion-header.active + .accordion-body{
height:200px;
}
.faq-section 
.accordion-section .accordion-header.active + .accordion-body.third-child{
height:290px;
}
}







/*==========================================
Desktop Device
===========================================*/
@media(min-width:650px){
.faq-section 
.accordion-section .accordion-header.active + .accordion-body{
height:120px;
}
.faq-section 
.accordion-section .accordion-header.active + .accordion-body.third-child{
height:190px;
}
}