/*************************
Footer Styles
==========================*/
.footer-container{
padding:0rem;
background:var(--british-green);
}
.footer-container .bg-wrapper{
background:rgba(0,0,0,0.75);
}
/*=========================
 Join Our community Styles
==========================*/
.our-community{
color:#A7A7A7;
padding:1rem;
/*background: linear-gradient(45deg, rgba(248,252,248,1) 1%, rgba(255,255,255,1) 90%);
*/
background:#FFFFFF;
}


.our-community p{
font-size:0.822rem;
text-align:center;
color:#010216;
font-weight:400;
}
.our-community .social-media-icons{
margin-top:1rem;
}
.our-community .social-media-icons ul{
display:flex;
flex-flow:row wrap;
align-items:flex-start;
justify-content:flex-start;
gap:4%;
}
.our-community .social-media-icons ul>*{
margin-bottom:0.4rem;
/*flex-basis:22%;*/
}
.our-community .social-media-icons a{
color:#A7A7A7;
border:0px solid green;
display:block;
font-size:1.4rem;
text-align:center;
}
.our-community .social-media-icons span + span{
font-weight:500;
font-size:0.72rem;
display:none;
}



/*========================
Suscribe styles
=========================*/
.subscribe{
position: relative;
/*width:450px;*/
padding:1rem;

}
.footer-container .subscribe h3{
text-transform: capitalize;
font-weight:500;
margin-bottom:0.2rem;
font-size:1.2rem;
color:#F8F8F8;
}
.footer-container .subscribe p{
font-weight:400;
font-size:0.822rem;
color:#A7A7A7;
}
.footer-container .subscribe .email-field{
position:relative;
width:100%;
margin-top:1rem;

}
.footer-container .subscribe .email-field input{
height:100%;
width:100%;
padding-left:50px;
border-radius:50px;
margin-bottom:1rem;
padding:1rem 0rem 1rem 50px ;
-webkit-padding:1rem 0rem 1rem 50px ;
-moz-padding:1rem 0rem 1rem 50px ;
border:1px solid transparent;
box-shadow:none;
}
.subscribe .email-field .icon{
color:var(--forest-green);
position:absolute;
left:25px;
top:24%;
transform:translate(-50%,-50%);
font-size:1.2rem;
font-weight:500;
}
.footer-container .subscribe-btn{
text-transform:capitalize;
padding:8px 12px;
border-radius:50px;
font-size:0.85rem;
font-weight:500;
background:var(--forest-green);
color:#F8F8F8;
transition:transform 0.5s ease,background 0.5s ease;
} 
.footer-container .subscribe-btn:hover{
background:var(--dk-green);
/*transform:translate(-50%,-50%) scale(1.1);*/
color:#F8F8F8;
}
.copy-right small{
display:block;
text-align:center;
font-weight:500;
font-size:0.812rem;
margin-top:1rem;
padding-bottom:1rem;
color:#999;
}




/*======================
Tablet Device
========================*/
@media(min-width:380px){
.footer-container .subscribe .email-field{
height:50px;
}
.subscribe .email-field .icon{
top:50%;
font-size:1.3rem;
}

.footer-container .subscribe-btn{
position:absolute;
right:-30px;
top:50%;
transform:translate(-50%,-50%) scale(1);

}
.footer-container .subscribe-btn:hover{
transform:translate(-50%,-50%) scale(1.1);
}

}


/*=======================
Desktop Device
=========================*/
@media(min-width:650px){
.our-community .social-media-icons ul{
justify-content:center;
}
.footer-container .subscribe .email-field{
width:50%;
}

}