/***************************
Header styles
****************************/
/* ===============FONT AwESOME CLASS STYLES============== */
.fa-angle-right{
cursor: pointer;
font-size:1.2rem;
font-weight:600;
display:inline-block;
padding:0rem 0.6rem;
}
.fa-home{
font-size:1.3rem;
}
.rotate-icon{
position: relative;
transform:rotate(90deg);
}


.header-container{
 /* padding:0rem 1rem 1rem 1rem; */
 position: relative;
 
}
.nav-wrapper{
z-index:3000;
position: relative;
background:#142B15;
}


/******************
Mobile view styles
*******************/

.mobile-nav-header{
display:flex;
align-items:center;
justify-content:space-between;
color:#fff;
padding:0rem 1rem 1rem 1rem;
}

.desktop-logo-img{
display:none;
}

/*.mobile-nav-header>*{
border:1px solid #ddd;
}
*/
.mobile-nav-header>*:first-child{
flex-basis:100px;
height:100px;
}
.mobile-nav-header>*:first-child img{
height:100%;
}
.mobile-nav-header>*:last-child{
position:relative;
}
.bar-btn{
color:#fff;
border:1px solid #ddd;
display:block;
padding:0.2rem 0.6rem;
line-height:1.5;
cursor:pointer;
font-size:1.4rem;
border-radius:6px;
background:var(--very-dk-green);
z-index:1001;
text-align:center;
transition:0.5s ease;
}



/***********************
main navigatiion styles
************************/
.main-nav{
position:relative;
}
.nav-menu{
padding:2rem;
transition:transform 0.5s linear;
transform:translateX(-150%);
position:absolute;
top:0px;
z-index:1030; /*highest z-index value*/
width:100%;
height:100vh;
}
.main-nav .nav-menu li + li{
margin-bottom:0.2rem;
}
.main-nav .nav-menu a{
color:#fff;
font-size:0.82rem;
font-weight:400;
display:block;
margin-bottom:1rem;
}



/*===========Dropdown Menu Styles=========== */
.dropdown{
position: relative;
}
.dropdown-menu{
transform-origin:top center;
transform:scale(1,0);
transition:0.5s ease;
}

.show-dropdown{
/* display:block; */
transform:scale(1);
}


/* Open and close nav menu */
.open{
transform:translateX(0);
background:var(--very-dk-green);
transition:0.5s ease;
}
.close{
color:#FFFFFF;
border:none;
font-size:18px;
background:transparent;
}






/* ===========================
 Desktop Device
=============================*/
@media(min-width:980px){

.mobile-logo-img{
display:none;
}
.desktop-logo-img{
display:block;
}
.mobile-nav-header{
padding:0rem;
}
/*******************
 Turn-off the navbar
********************/
.bar-btn{
display:none;
}

.header-container{
/* position:fixed;*/
 width:100%;
/* padding-bottom:4rem; */
}
.nav-wrapper{
display:flex;
align-items:center;
flex-flow:row wrap;
gap:4%;
justify-content:space-between;
position:fixed;
width:100%;
z-index:4000;
padding:0.4rem;
}
/*.nav-wrapper>*{
border:1px solid red;
}*/
.nav-wrapper>*:first-child{
flex-basis:140px;
}
.nav-wrapper>*:last-child{
flex-basis:75%;
}
.mobile-nav-header>*:first-child{
flex-basis:auto;
height:auto;
}

.nav-menu{
transition:initial;
transform:translateX(0);
position:relative;
top:initial;
display:flex;
padding:0rem;
flex-flow:row wrap;
 justify-content:flex-end; 
/* align-items:flex-end; */
height:auto;
width:auto;
gap:4%;
}
.main-nav .nav-menu a{
margin-bottom:0rem;
padding:0.8rem 0.4rem;
font-size:0.92rem;
}

/* ===dropdown menu==== */
.dropdown{
position:relative;
}
.dropdown-menu{
position:absolute;
background:var(--very-dk-green);
z-index:1040;
width:180px;
padding:0.6rem;
border-radius:8px;
right:0;
top:100%;
}

}