@import url("boilerplate.css");
@import url("header.css");
@import url("main-index.css");
@import url("footer.css");
@import url("faq.css");


/*General styles
****************/
header{
padding:0rem;
}
main{
padding:1rem;
}
section{
padding:0;
margin-bottom:2.4rem;
}





/*****************************
Carousel Styles
=============================*/
.AdsCarousel{
border:2px solid yellow;
}
/*.AdsCarousel .carousel-container{
}*/
.AdsCarousel .carousel-card{
position:relative;
margin-bottom:1rem;
border-radius:14px;
}
.AdsCarousel .img-container{
height:250px;
}
.AdsCarousel .img-container img{
width:100%;
height:100%;
border-radius:14px;
}
.AdsCarousel .overlay{
position:absolute;
height:100%;
width:100%;
top:0;
z-index:1022;
background:rgba(4,57,39,0.7);
border-radius:14px;
}
.AdsCarousel .carousel-text p{
position:absolute;
color:#FFFFFF;
font-weight:600;
font-size:1.2rem;
text-transform:capitalize;
top:50%;
transform:translateY(-50%);
z-index:1026;
text-align:center;
padding:1rem;
}
.AdsCarousel .carousel-text p{
text-shadow:3px 3px 6px #000000;
}

/******************
Owl-Carousel Custom
css
====================*/
#AdsCarousel .owl-next,
#AdsCarousel .owl-prev{
width:32px;
height:32px;
position:absolute;
color:#FFFFFF;
z-index:1;
font-size:2rem;
font-weight:400;
line-height:0.8;
top:50%;
border-radius:50% !important;
border:2px solid #FFFFFF !important;
text-align:center;
background:var(--british-green);
transform:translateY(-50%);
}
#AdsCarousel .owl-prev{
left:-15px;
}
#AdsCarousel .owl-next{
right:-15px;
}




/*********************************
  Main section styles

==================================*/
.main-container{
color:#A7A7A7;
}
.our-community h3,
.main-container h3{
font-size:1.2rem;
font-weight:600;
text-transform:capitalize;
text-align:center;
/*margin-top:1rem;*/
margin-bottom:0.4rem;
color:var(--forest-green);
position: relative;
}
.main-container h3::before
{
content:"";
position:absolute;
bottom:0;
width:40px;
background:#A7A7A7;
height:4px;
}


/* .main-container h3::before{
 transform:translate(-90%,-50%)
} */
.main-container li,
.main-container p
{
font-size:0.888rem;
font-weight:400;
line-height:1.5;
color:var(--black-color);
}
.main-container ul{
padding:0.8rem;
}
.main-container ul li{
padding:0.2rem;
}
.main-container ul li::marker{
content:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="14" fill="rgb(3,53,3)"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 352C309 352 352 309 352 256C352 202.1 309 160 256 160C202.1 160 160 202.1 160 256C160 309 202.1 352 256 352z"/></svg>');
padding:0.4rem;
vertical-align:middle;
}




/* ========================
Mission Styles & Objectives
===========================*/
.objectives-section .img-container,
.mission-section .img-container{
height:60px;
width:60px;
padding:0.5rem;
background:#FFFFFF;
border-radius:50%;
/*margin:0 auto;*/
border:1px solid #E5E5E5;
}

/* .mission-section .img-container img{
display:block;
} */
/* .mission-section  */
.flex-container.flex-2{
align-items:flex-end;
}













/******************************
Video Adverts Styles
==============================*/
.videoAds{
position: relative;
}
.video-container{
position:relative;
top:0;
left:0;
width:100%;
height:100%;
/* object-fit:cover; */
z-index:1000;
}
.video{
width:100%;
height:100%;
}
.text-overlay{
position:absolute;
top:0;
left:0;
width:100%;
/*z-index:1020;*/
height:100%;
background:rgba(55, 158, 55,0.35);
}
.text-content{
position:absolute;
top:50%;
left:50%;
width:100%;
transform:translate(-50%,-50%);
z-index:1040;
}
.text-content h2{
text-transform:capitalize;
font-weight:800;
font-size:2rem;
color:#FFFFFF;
text-align:center;
text-shadow:4px 4px 10px rgba(0,0,0,0.75);
}


/*============================
 Before Section Partition
==============================*/
.others.activities-section h3{
margin-top:0rem;
}
.others.flex-2 >*{
margin-bottom:1rem;
padding:0.8rem;
}






/*.section-one{

}*/
.main-container .section-one>*{
margin-bottom:3rem;
}
.main-container >*{
margin-bottom:4rem;
}

.wrapper{
position:relative;
/*height:200px;
*/padding:1rem;
/*border-radius:11px;*/
background:#FFFFFF;
-webkit-box-shadow:0px 4px 24px -1px rgba(0, 0, 0, 0.13);
-moz-box-shadow:0px 4px 24px -1px rgba(0, 0, 0, 0.13);
-o-box-shadow:0px 4px 24px -1px rgba(0, 0, 0, 0.13);
box-shadow:0px 4px 24px -1px rgba(0, 0, 0, 0.13);
}
.wrapper .cta-btn{
/*position:absolute;
*/bottom:0;
}
.section-one{
display:grid;
grid-template-columns:repeat(1fr);
gap:4%;
}






/*******************************
  Section Two
===============================*/
/* .section-two{
} */
.section-two .left-item .img-container{
 height:60px;
 width:60px;
 padding:1rem;
 background:#FFFFFF;
 border-radius:50%;
 margin:0 auto;
 border:1px solid #E5E5E5;
}
.section-two .right-item .img-container,
.section-two .right-item .img-container img
{
border-radius:11px;
}
.section-two .flex{
justify-content:center;
align-items:center;
/* border:1px solid red; */
}


/*******************************
  Section Three
===============================*/

/*******************************
  Section Four
===============================*/
/*.section-four{

}*/

/*******************************
  Section Five
===============================*/
.section-five ul{
list-style:square;
padding:0rem 2rem;
} 
.section-five ul li::marker{
font-size:1.8rem;
color:var(--forest-green);
}








/*=================================
 Sectioon 6
====================================*/
.video-gallery{
}
.video-gallery .video-card{
margin-bottom:1rem;
border-radius:8px;
background:#000;
padding-bottom:2rem;
height:240px;
}
.video-gallery .video-card p{
color:#FFFFFF;
text-align:center;
font-weight:400;
font-size:1rem;
text-transform:capitalize;
}
.video-gallery .video-card figure{
height:100%;
width:100%;
border-radius:inherit;
}
.video-gallery .video-card video{
width:100%;
height:100%;
border-radius:inherit;
/*display:block;*/
object-fit:cover;
}












/***************************
 Tablet Device
******************************/
@media(min-width:380px){
.main-container h3{
text-align:left;
}
.section-two .left-item .img-container,
.mission-section .img-container{
margin:0;
}
}









/***************************
  Mini Desktop Device
******************************/
@media(min-width:650px){
.AdsCarousel{
display:flex;
flex-flow:row wrap;
gap:4%;
}
.AdsCarousel > *{
flex:1 1 48%;
}
.others.flex-2 >*{
flex:1 1 48%;
/*border:1px solid red;*/
}
}







/*=====================================
 Desktop Device
========================================*/
@media(min-width:810px){
.video-gallery .gallery-container{
display:flex;
flex-flow:row wrap;
gap:4%;
}
.video-gallery .gallery-container>*{
flex-basis:48%;
}
}




/***************************
 Large Desktop Device
******************************/
@media(min-width:980px){
.AdsCarousel{
 flex:1 1 34%;
}

.wrapper{
min-height:280px;
}
.wrapper .cta-btn{
position:absolute;
}

.section-two .flex{
align-items:flex-start;
}
.section-five .flex{
align-items:center;
/*justify-content:center;*/
}

.section-two .flex > *,
.section-five .flex > *
{
flex:1 1 48%;
}
.others.flex-2{
align-items:flex-start;
}
.others.flex-2 >*{
flex:1 1 22%;
}
.text-content h2{
font-size:4rem;
}
.section-five .flex > *:last-child{
text-align:left;
display:inline-block;
}
.section-one{
grid-template-columns:repeat(2,1fr);
}

.video-gallery .gallery-container>*{
flex-basis:22%;
}
}





/*===========================
Very Large Desktop Device
=============================*/
/*@media(min-width:1200px){
.others.flex-2 >*{
flex:1 1 22%;
}
}*/